<form method="POST" action="signin-admin">
    <input type="text" name="name" placeholder="Username">
    <input type="text" name="password" placeholder="Password">
    <input type="text" name="adminCode">
    <button type="submit">Admin Sign In</button>
</form>