<!-- Footer -->
<div id="contacts-section" class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 g-py-60">
    <div class="container">
      <div class="row">
        <!-- Footer Content -->
        <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
          <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
            <h2 class="u-heading-v2__title h6 text-uppercase mb-0">About Us</h2>
          </div>
        </div>
        <!-- End Footer Content -->

        <!-- Footer Content -->
        <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
          <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
            <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Latest Posts</h2>
          </div>

          <article>
            <h3 class="h6 g-mb-2">
          <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Coming Soon!</a>
            <div class="small g-color-white-opacity-0_6">2018</div>
          </article>

          <hr class="g-brd-white-opacity-0_1 g-my-10">

        </div>
        <!-- End Footer Content -->

        <!-- Footer Content -->
        <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
          <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
            <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Useful Links</h2>
          </div>

          <nav class="text-uppercase1">
            <ul class="list-unstyled g-mt-minus-10 mb-0">
              <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                <h4 class="h6 g-pr-20 mb-0">
              <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">About Us</a>
              <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
            </h4>
              </li>
              <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                <h4 class="h6 g-pr-20 mb-0">
              <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Products</a>
              <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
            </h4>
              </li>
              <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                <h4 class="h6 g-pr-20 mb-0">
              <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Latest News</a>
              <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
            </h4>
              </li>
              <li class="g-pos-rel g-py-10">
                <h4 class="h6 g-pr-20 mb-0">
              <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Contact Us</a>
              <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
            </h4>
              </li>
            </ul>
          </nav>
        </div>
        <!-- End Footer Content -->

        <!-- Footer Content -->
        <div class="col-lg-3 col-md-6">
          <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
            <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Our Contacts</h2>
          </div>

          <address class="g-bg-no-repeat g-font-size-12 mb-0" style="background-image: url(../../assets/img/maps/map2.png);">
        <!-- Location -->
        <div class="d-flex g-mb-20">
          <div class="g-mr-10">
            <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
              <i class="fa fa-map-marker"></i>
            </span>
          </div>
          <p class="mb-0">1210 Piedra Morada Drive <br> Pacific Palisades, CA 90272</p>
        </div>
        <!-- End Location -->

        <!-- Phone -->
        <div class="d-flex g-mb-20">
          <div class="g-mr-10">
            <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
              <i class="fa fa-phone"></i>
            </span>
          </div>
          <p class="mb-0">(310) 600 4816</p>
        </div>
        <!-- End Phone -->

        <!-- Email and Website -->
        <div class="d-flex g-mb-20">
          <div class="g-mr-10">
            <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
              <i class="fa fa-globe"></i>
            </span>
          </div>
          <p class="mb-0">
            <a class="g-color-white-opacity-0_8 g-color-white--hover" href="mailto:info@htmlstream.com">info@TidePoolAquatics.com</a>
          </p>
        </div>
        <!-- End Email and Website -->
      </address>
        </div>
        <!-- End Footer Content -->
      </div>
    </div>
  </div>
  <!-- End Footer -->

  <!-- Copyright Footer -->
  <footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
    <div class="container">
      <div class="row">
        <div class="col-md-8 text-center text-md-left g-mb-10 g-mb-0--md">
          <div class="d-lg-flex">
            <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">2018 © All Rights Reserved.</small>
            <ul class="u-list-inline">
              <li class="list-inline-item">
                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <span>|</span>
              </li>
              <li class="list-inline-item">
                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Terms of Use</a>
              </li>
              <li class="list-inline-item">
                <span>|</span>
              </li>
              <li class="list-inline-item">
                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">License</a>
              </li>
              <li class="list-inline-item">
                <span>|</span>
              </li>
              <li class="list-inline-item">
                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Support</a>
              </li>
              <span>|</span>
              <li class="list-inline-item">
                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Legal</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-4 align-self-center">
          <ul class="list-inline text-center text-md-right mb-0">
            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Facebook">
              <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Copyright Footer -->
  <a class="js-go-to u-go-to-v1" href="#" data-type="fixed" data-position='{
   "bottom": 15,
   "right": 15
 }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
    <i class="hs-icon hs-icon-arrow-top"></i>
  </a>

  </main>

    <div class="u-outer-spaces-helper"></div>

    <!-- <script src="https://js.braintreegateway.com/web/dropin/1.13.0/js/dropin.min.js"></script> -->

    <script>
      var form = document.querySelector('#payment-form');
      var nonceInput = document.querySelector('#nonce');

      braintree.dropin.create({
        authorization: 'sandbox_c7yhs3jj_kjxtbhnsh26j2ww8',
        container: '#dropin-container'
      }, function (err, dropinInstance) {
        if (err) {
          // Handle any errors that might've occurred when creating Drop-in
          console.error(err);
          res.send("Error under dropinstance james");
        }
        form.addEventListener('submit', function (event) {
          event.preventDefault();

          dropinInstance.requestPaymentMethod(function (err, payload) {
            if (err) {
              // Handle errors in requesting payment method
              res.send("Error under pyaload james");
            }

            // Send payload.nonce to your server
            nonceInput.value = payload.nonce;
            form.submit();
          });
        });
      });
    </script>

    <!-- JS Global Compulsory -->
    <script src="../../assets/vendor/jquery/jquery.min.js"></script>
    <script src="../../assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="../../assets/vendor/jquery.easing/js/jquery.easing.js"></script>
    <script src="../../assets/vendor/popper.min.js"></script>
    <script src="../../assets/vendor/bootstrap/bootstrap.min.js"></script>
  
    <!-- JS Implementing Plugins -->
    <script src="../../assets/vendor/appear.js"></script>
    <script src="../../assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
    <script src="../../assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
    <script src="../../assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
    <script src="../../assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
    <script src="../../assets/vendor/cubeportfolio-full/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
  
    <!-- JS Unify -->
    <script src="../../assets/js/hs.core.js"></script>
    <script src="../../assets/js/components/hs.header.js"></script>
    <script src="../../assets/js/helpers/hs.hamburgers.js"></script>
    <script src="../../assets/js/components/hs.tabs.js"></script>
    <script src="../../assets/js/components/hs.counter.js"></script>
    <script src="../../assets/js/components/hs.cubeportfolio.js"></script>
    <script src="../../assets/js/components/hs.go-to.js"></script>
  
    <!-- JS Customization -->
    <script src="../../assets/js/creditcard.js"></script>
    <!--<script src="../../assets/js/validate.js"></script> -->
    <script src="../../assets/js/paginate.js"></script>
    <script src="../../assets/js/main.js"></script>
    <script src="../../assets/js/cart.js"></script>
  
    <!-- JS Plugins Init. -->
    <script>
      $(document).on('ready', function () {
          // initialization of go to
          $.HSCore.components.HSGoTo.init('.js-go-to');
  
          // initialization of tabs
          $.HSCore.components.HSTabs.init('[role="tablist"]');
  
          // initialization of counters
          var counters = $.HSCore.components.HSCounter.init('[class*="js-counter"]');
        });
  
        $(window).on('load', function () {
          // initialization of header
          $.HSCore.components.HSHeader.init($('#js-header'));
          $.HSCore.helpers.HSHamburgers.init('.hamburger');
  
          // initialization of HSMegaMenu component
          $('.js-mega-menu').HSMegaMenu({
            event: 'hover',
            pageContainer: $('.container'),
            breakpoint: 991
          });
  
          // initialization of cubeportfolio
          $.HSCore.components.HSCubeportfolio.init('.cbp');
        });
  
        $(window).on('resize', function () {
          setTimeout(function () {
            $.HSCore.components.HSTabs.init('[role="tablist"]');
          }, 200);
        });
    </script>

</body>
</html>