<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <title>Tide Pool Aquatics</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Favicon -->
  <link rel="shortcut icon" href="../../favicon.ico">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik">
  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="../../assets/vendor/bootstrap/bootstrap.min.css">
  <!-- CSS Global Icons -->
  <link rel="stylesheet" href="../../assets/vendor/icon-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../assets/vendor/icon-line/css/simple-line-icons.css">
  <link rel="stylesheet" href="../../assets/vendor/icon-etlinefont/style.css">
  <link rel="stylesheet" href="../../assets/vendor/icon-line-pro/style.css">
  <link rel="stylesheet" href="../../assets/vendor/icon-hs/style.css">
  <link rel="stylesheet" href="../../assets/vendor/dzsparallaxer/dzsparallaxer.css">
  <link rel="stylesheet" href="../../assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
  <link rel="stylesheet" href="../../assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
  <link rel="stylesheet" href="../../assets/vendor/animate.css">
  <link rel="stylesheet" href="../../assets/vendor/fancybox/jquery.fancybox.min.css">
  <link rel="stylesheet" href="../../assets/vendor/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="../../assets/vendor/typedjs/typed.css">
  <link rel="stylesheet" href="../../assets/vendor/hs-megamenu/src/hs.megamenu.css">
  <link rel="stylesheet" href="../../assets/vendor/hamburgers/hamburgers.min.css">

  <!-- CSS Unify -->
  <link rel="stylesheet" href="../../assets/css/unify-core.css">
  <link rel="stylesheet" href="../../assets/css/unify-components.css">
  <link rel="stylesheet" href="../../assets/css/unify-globals.css">

  <!-- CSS Customization -->
  <link rel="stylesheet" href="../../assets/css/custom.css">
</head>

<body>
<main>

      <!-- Header -->
      <header id="js-header" class="u-header u-header--static u-header--show-hide u-header--change-appearance" data-header-fix-moment="500" data-header-fix-effect="slide">
          <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10"> <!-- data-header-fix-moment-exclude="g-bg-white g-py-10" data-header-fix-moment-classes="g-bg-white-opacity-0_7 u-shadow-v18 g-py-0" -->
            <nav class="navbar navbar-expand-lg">
              <!-- Responsive Toggle Button -->
              <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                <span class="hamburger hamburger--slider">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
                </span>
                </span>
              </button>
              <!-- End Responsive Toggle Button -->
    
              <!-- -->
              <a href="/home" class="navbar-brand">
                <img src="../../assets/img/logo/logo-tidepool.png" class="logo--main" alt="Lewis and Lewis Insurance Agency, Inc.">
              </a>
              <!-- End Logo -->
    
              <!-- Navigation -->
              <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg" id="navBar">
                <ul class="navbar-nav text-uppercase g-font-weight-600 ml-auto">
                  <li class="nav-item g-mx-20--lg">
                    <a href="/home" class="nav-link px-0"><i class="fa fa-home" aria-hidden="true"></i>
                  
                </a>
                  </li>
                  <li class="nav-item g-mx-20--lg">
                    <a href="/about" class="nav-link px-0">About
                  
                </a>
                  </li>
                  <li class="nav-item g-mx-20--lg">
                    <a href="/products" class="nav-link px-0">Products
                </a>
                  </li>
                  </li>
                  <li class="nav-item g-mx-20--lg">
                    <a href="/contact" class="nav-link px-0">Contact Us
                </a>
                  </li>
                  <li class="nav-item g-mx-20--lg">
                    <a href="/user/register" class="nav-link px-0"> Log In | Sign Up
                </a>
                <li class="nav-item g-mx-20--lg">
                  <a href="/shopping-cart" class="nav-link px-0"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart
              </a>
                  </li>
                </ul>
              </div>
              <!-- End Navigation -->
            </nav>
          </div>
        </header>
        <!-- End Header -->
    
    <!-- Login & Signup -->
    <section class="u-bg-overlay g-bg-pos-top-center g-bg-img-hero g-bg-black-opacity-0_3--after g-py-100" style="background-image: url(../../assets/img-temp/water-blue-ocean.jpg);">
        <div class="container u-bg-overlay__inner">
          <div class="row justify-content-center text-center mb-5">
            <div class="col-lg-8">
              <!-- Heading -->
              <h1 class="g-color-white text-uppercase mb-4">Login or register an account</h1>
              <div class="d-inline-block g-width-35 g-height-2 g-bg-white mb-4"></div>
               <% messages.forEach(function(message) { %>
                <div class="alert alert-danger" role="alert">
                <p class="g-color-darkred"><%= message %></p>
                </div>
               <% }) %>
              <!-- End Heading -->
            </div>
          </div>
  
          <div class="row justify-content-center align-items-center no-gutters">
            <div class="col-lg-5 g-bg-teal g-rounded-left-5--lg-up">
              <div class="g-pa-50">
                <!-- Form -->
                <form class="g-py-15" action="/user/signin" method="POST">
                  <h2 class="h3 g-color-white mb-4">Login</h2>
                  <div class="mb-4">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text g-width-45 g-brd-right-none g-brd-white g-color-white"><i class="icon-finance-067 u-line-icon-pro"></i></span>
                      </div>
                      <input class="form-control g-color-black g-brd-left-none g-brd-white g-bg-transparent g-color-white g-placeholder-white g-pl-0 g-pr-15 g-py-13" name="email" type="email" placeholder="Username">
                    </div>
                  </div>
  
                  <div class="g-mb-40">
                    <div class="input-group rounded">
                      <div class="input-group-prepend">
                        <span class="input-group-text g-width-45 g-brd-right-none g-brd-white g-color-white"><i class="icon-communication-062 u-line-icon-pro"></i></span>
                      </div>
                      <input class="form-control g-color-black g-brd-left-none g-brd-white g-bg-transparent g-color-white g-placeholder-white g-pl-0 g-pr-15 g-py-13" name="password" type="password" placeholder="Password">
                    </div>
                  </div>
                   <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                  
                  <div class="g-mb-60">
                          
                    <button class="btn btn-md btn-block u-btn-primary rounded text-uppercase g-py-13" type="submit">Login</button>
                  </div>
  
                  <div class="text-center g-pos-rel pb-2 g-mb-60">
                    <div class="d-inline-block w-100 g-height-1 g-bg-white"></div>
                    <span class="u-icon-v2 u-icon-size--lg g-brd-white g-color-white g-bg-teal g-font-size-default rounded-circle text-uppercase g-absolute-centered g-pa-24">OR</span>
                  </div>
  
                  <button class="btn btn-block u-btn-facebook rounded text-uppercase g-py-13 g-mb-15" type="button">
                    <i class="mr-3 fa fa-facebook"></i>
                    <span class="g-hidden-xs-down">Login with</span> Facebook
                  </button>
                  <button class="btn btn-block u-btn-twitter rounded text-uppercase g-py-13" type="button">
                    <i class="mr-3 fa fa-twitter"></i>
                    <span class="g-hidden-xs-down">Login with</span> Twitter
                  </button>
                </form>
                <!-- End Form -->
              </div>
            </div>
  
            <div class="col-lg-5 g-bg-white g-rounded-right-5--lg-up">
              <div class="g-pa-50">
                <!-- Form -->
                <form class="g-py-15" action="/user/signup" method="POST">
                  <h2 class="h3 g-color-black mb-4">Signup</h2>
                  <p class="mb-4">Profitable contracts, invoices &amp; payments for the best cases!</p>
  
                  <div class="mb-4">
                    <div class="input-group rounded">
                      <div class="input-group-prepend">
                        <span class="input-group-text g-width-45 g-brd-right-none g-brd-gray-light-v4 g-color-gray-dark-v5"><i class="icon-finance-128 u-line-icon-pro"></i></span>
                      </div>
                      <input class="form-control g-color-black g-brd-left-none g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-pl-0 g-pr-15 g-py-13" name="nameFirst" type="text" placeholder="Your name">
                    </div>
                  </div>

  
                  <div class="mb-4">
                    <div class="input-group rounded">
                      <div class="input-group-prepend">
                        <span class="input-group-text g-width-45 g-brd-right-none g-brd-gray-light-v4 g-color-gray-dark-v5"><i class="icon-communication-062 u-line-icon-pro"></i></span>
                      </div>
                      <input class="form-control g-color-black g-brd-left-none g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-pl-0 g-pr-15 g-py-13" name="email" type="email" placeholder="Your email">
                    </div>
                  </div>
  
                  <div class="mb-4">
                    <div class="input-group rounded">
                      <div class="input-group-prepend">
                        <span class="input-group-text g-width-45 g-brd-right-none g-brd-gray-light-v4 g-color-gray-dark-v5"><i class="icon-media-094 u-line-icon-pro"></i></span>
                      </div>
                      <input class="form-control g-color-black g-brd-left-none g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-pl-0 g-pr-15 g-py-13" name="password" type="password" placeholder="Password">
                    </div>
                  </div>

                  <div class="mb-4">
                    <div class="input-group rounded">
                      <div class="input-group-prepend">
                        <span class="input-group-text g-width-45 g-brd-right-none g-brd-gray-light-v4 g-color-gray-dark-v5"><i class="icon-media-094 u-line-icon-pro"></i></span>
                      </div>
                      <input class="form-control g-color-black g-brd-left-none g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-pl-0 g-pr-15 g-py-13" name="adminCode" type="text" placeholder="Admin Code">
                    </div>
                  </div>
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  
                  <div class="mb-1">
                    <label class="form-check-inline u-check g-color-gray-dark-v5 g-font-size-12 g-pl-25 mb-2">
                      <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                      <div class="u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
                        <i class="fa" data-check-icon="&#xf00c"></i>
                      </div>
                      I accept the <a href="#!">Terms and Conditions</a>
                    </label>
                  </div>
  
                  <div class="mb-3">
                    <label class="form-check-inline u-check g-color-gray-dark-v5 g-font-size-12 g-pl-25 mb-2">
                      <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                      <div class="u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
                        <i class="fa" data-check-icon="&#xf00c"></i>
                      </div>
                      Subscribe to our newsletter
                    </label>
                  </div>
                  <button class="btn btn-md btn-block u-btn-primary rounded text-uppercase g-py-13" type="submit">Login</button>
                </form>
                <!-- End Form -->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Login & Signup -->

      <% include views/partials/footer %>