<% include ../partials/header %>

    <!-- Section -->
    <section class="container g-pt-100 g-pb-40">
            <div class="row">
              <div class="col-lg-6 g-mb-60">
                <div class="mb-4">
                  <h2 class="h3 text-uppercase mb-3">About The Owner</h2>
                  <div class="g-width-60 g-height-1 g-bg-black"></div>
                </div>
                <div class="mb-5">
                  <p>Hi there, my name is Blake Lewis and I am the sole owner and operator of Tide Pool Aquatics. Like many of you, I am just a dedicated hobbyist and fish nerd who has a diehard appreciation and interest for marine aquariums!</p>
                  <p>I have over a decade experience in keeping saltwater fish and have held onto the dream of owning my own aquarium store sicne hte obsession first set in. Over the years, I have become intrigued by the unique and rare specimens that cannot be found in a regular aquarium shop.</p>
                  <p>Since then, the opportunity has presetned itself that I may open my own aquarium store, and I will offer my customers those sam eunique and rare specimens that I have come to admire so much</p>
                </div>
                <a class="btn btn-xl u-btn-outline-black g-font-size-default mr-2" href="/products">Explore Inventory</a>
              </div>
      
              <div class="col-lg-6 g-mb-60">
                <img class="img-fluid" src="../../assets/img-temp/about-one.jpg" alt="Image Description">
              </div>
            </div>
          </section>
          <!-- End Section -->
      
          <!-- News Block -->
          <section class="g-bg-gray-light-v5">
            <div class="container g-pt-100 g-pb-70">
              <div class="row justify-content-center g-mb-60">
                <div class="col-lg-7">
                  <!-- Heading -->
                  <div class="text-center mb-4">
                    <h2 class="h3 text-uppercase mb-3">What we do</h2>
                    <div class="d-inline-block g-width-60 g-height-1 g-bg-black mb-2"></div>
                    <p class="lead mb-0">Tide Pool Aquatics is a small business that specializes in offering fully quarantined and conditioned <strong>WYSIWYG*</strong> saltwater fish.</p>
                    <p class="lead mb-0">Our goal simple, we want to supply fellow hobbyists with healthy specimens at an affordable price while supporting local conservation efforts.</p>
                  </div>
                  <!-- End Heading -->
                </div>
              </div>
      
              <div class="row">
                <div class="col-lg-4 g-mb-30">
                  <!-- Article -->
                  <article class="g-bg-white">
                    <figure class="g-pos-rel">
                      <img class="img-fluid w-100" src="../../assets/img-temp/about-one.jpeg" alt="Image Description">
      
                      <figcaption class="g-pos-abs g-bottom-20 g-left-20">
                        <!-- <a class="btn btn-sm u-btn-black rounded-0" href="#">July 07, 2017</a> -->
                      </figcaption>
                    </figure>
      
                    <div class="g-pa-30">
                      <h3 class="g-font-weight-300 g-mb-15">
                            Health of Our Fish
                        </h3>
                      <p>The health of a fish is dependent on its source. Because Tide Pool Aquatics operates out of Los Angeles, we have direct access to many of the best wholesalers in the country.</p>
                      <p>Each fish is individually chosen from reliable and trusted sources and then quarantined for a minimum of <strong>6 weeks</strong> before being listed for sale. Our strict quarantine procedure can be found elsewhere...</p>
                    </div>
      
                    <!--  FOOTER 
                    <div class="media g-font-size-12 g-brd-top g-brd-gray-light-v4 g-pa-15-30">
                      <img class="d-flex mr-2 rounded-circle g-width-20 g-height-20" src="../../assets/img-temp/100x100/img5.jpg" alt="Image Description">
                      <div class="media-body align-self-center">
                            <a class="u-link-v5 g-color-main g-color-primary--hover" href="#">Kathy Reyes</a>
                      </div>
      
                      <div class="align-self-center">
                        <a class="u-link-v5 g-color-main g-color-primary--hover g-mr-10" href="#">
                          <i class="icon-bubbles g-mr-2"></i> 24
                        </a>
                        <a class="u-link-v5 g-color-main g-color-primary--hover" href="#">
                          <i class="icon-eye g-mr-2"></i> 108
                        </a>
                      </div>
                    </div> -->
                  </article>
                  <!-- End Article -->
                </div>
      
                <div class="col-lg-4 g-mb-30">
                  <!-- Article -->
                  <article class="g-bg-white">
                    <figure class="g-pos-rel">
                      <img class="img-fluid w-100" src="../../assets/img-temp/about-two.jpeg" alt="Image Description">
      
                      <figcaption class="g-pos-abs g-bottom-20 g-left-20">
                        <!-- <a class="btn btn-sm u-btn-black rounded-0" href="#">June 15, 2017</a>-->
                      </figcaption>
                    </figure>
      
                    <div class="g-pa-30">
                      <h3 class="g-font-weight-300 g-mb-15">
                          Our Costs
                        </h3>
                      <p>Tide Pool Aquatics is dedicated to keeping prices low! First, our husbandry protocols ensure the health of each fish to minimize any potential losses.</p>
                      <p>Second, being a one-man business presents the advantage of having low operating costs. These savings are passed onto the customer!</p>
                    </div>
                    <!-- FOOTER 
                    <div class="media g-font-size-12 g-brd-top g-brd-gray-light-v4 g-pa-15-30">
                      <img class="d-flex mr-2 rounded-circle g-width-20 g-height-20" src="../../assets/img-temp/100x100/img7.jpg" alt="Image Description">
                      <div class="media-body align-self-center">
                        <a class="u-link-v5 g-color-main g-color-primary--hover" href="#">William Sh.</a>
                      </div>
      
                      <div class="align-self-center">
                        <a class="u-link-v5 g-color-main g-color-primary--hover g-mr-10" href="#">
                          <i class="icon-bubbles g-mr-2"></i> 16
                        </a>
                        <a class="u-link-v5 g-color-main g-color-primary--hover" href="#">
                          <i class="icon-eye g-mr-2"></i> 124
                        </a>
                      </div>
                    </div> -->
                  </article>
                  <!-- End Article -->
                </div>
      
                <div class="col-lg-4 g-mb-30">
                  <!-- Article -->
                  <article class="g-bg-white">
                    <figure class="g-pos-rel">
                      <img class="img-fluid w-100" src="../../assets/img-temp/about-three.jpeg" alt="Image Description">
      
                      <figcaption class="g-pos-abs g-bottom-20 g-left-20">
                        <!-- <a class="btn btn-sm u-btn-black rounded-0" href="#">May 26, 2017</a> -->
                      </figcaption>
                    </figure>
      
                    <div class="g-pa-30">
                      <h3 class="g-font-weight-300 g-mb-15">
                        Our Aquatic Environment
                        </h3>
                      <p>We value the health and safety of not only our fish, but also hte environment that supports them. That's why we have invested in business practices like eco-friendly shipping materials to conserve our oceans</p>
                      <p>Also, we haave water recycling practices in place. Lastly, we kindly ask that you do your part and recycle our shipping materials properly.</p>
                      <p><strong>"What you see is what you get"</strong></p>
                    </div>
                    <!-- FOOTER
                    <div class="media g-font-size-12 g-brd-top g-brd-gray-light-v4 g-pa-15-30">
                      <img class="d-flex mr-2 rounded-circle g-width-20 g-height-20" src="../../assets/img-temp/100x100/img14.jpg" alt="Image Description">
                      <div class="media-body align-self-center">
                        <a class="u-link-v5 g-color-main g-color-primary--hover" href="#">James Doe</a>
                      </div>
      
                      <div class="align-self-center">
                        <a class="u-link-v5 g-color-main g-color-primary--hover g-mr-10" href="#">
                          <i class="icon-bubbles g-mr-2"></i> 41
                        </a>
                        <a class="u-link-v5 g-color-main g-color-primary--hover" href="#">
                          <i class="icon-eye g-mr-2"></i> 219
                        </a>
                      </div>
                    </div> -->
                  </article>
                  <!-- End Article -->
                </div>
              </div>
            </div>
          </section>
          <!-- End News Block -->

      
          <section class="g-bg-gray-light-v5">
            <div class="container g-py-50">
              <div class="d-flex justify-content-between">
                <a class="align-self-center btn btn-xl u-btn-outline-black g-font-size-default" href="/products">View our Products!</a>
              </div>
            </div>
          </section>

<% include ../partials/footer %>