<% include ../partials/header %>

<section class="container g-pt-100 g-pb-40">
        <div class="row justify-content-between">
          <div class="col-md-7 g-mb-60">
            <!-- Contact Form -->
            <form action="/contact" method="POST">
              <div class="row">
                <div class="col-md-6 form-group g-mb-20">
                  <label class="g-color-gray-dark-v2 g-font-size-13">Name:</label>
                  <input class="form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15" type="text" name="nameFirst">
                </div>
  
                <div class="col-md-6 form-group g-mb-20">
                  <label class="g-color-gray-dark-v2 g-font-size-13">Email:</label>
                  <input class="form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15" type="email" name="email">
                </div>
  
                <div class="col-md-6 form-group g-mb-20">
                  <label class="g-color-gray-dark-v2 g-font-size-13">Subject:</label>
                  <input class="form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15" type="text" name="subject">
                </div>
  
                <div class="col-md-6 form-group g-mb-20">
                  <label class="g-color-gray-dark-v2 g-font-size-13">Phone:</label>
                  <input class="form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15" type="tel" name="phone">
                </div>
  
                <div class="col-md-12 form-group g-mb-40">
                  <label class="g-color-gray-dark-v2 g-font-size-13">Message:</label>
                  <textarea class="form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus g-resize-none rounded-3 g-py-13 g-px-15" name="message" rows="7"></textarea>
                </div>
              </div>
  
              <button class="btn u-btn-primary rounded-3 g-py-12 g-px-20" type="submit">Send Enquiry</button>
            </form>
            <!-- End Contact Form -->
          </div>
  
          <div class="col-md-4">
            <h1 class="g-font-weight-300 mb-5">Tide Pool Aquatics</h1>
  
            <div class="mb-4">
              <h2 class="h5 g-color-gray-dark-v2 g-font-weight-600">Address:</h2>
              <p class="g-color-gray-dark-v4 g-font-size-16">1210 Piedra Morada Drive
                <br>Los Angeles, CA 90272
                <br>United States</p>
            </div>
            <!--
            <div class="mb-4">
              <h2 class="h5 g-color-gray-dark-v2 g-font-weight-600">Email us:</h2>
              <p class="g-color-gray-dark-v4">Email: <a class="g-color-gray-dark-v2" href="#!"></a>
              </p>
            </div>
        -->
  
            <div class="mb-3">
              <h2 class="h5 g-color-gray-dark-v2 g-font-weight-600">Call us:</h2>
              <p class="g-color-gray-dark-v4">Call: <span class="g-color-gray-dark-v2">(310) 600-4816</span>
              </p>
            </div>
  
            <div class="g-mb-30">
              <p class="g-color-gray-dark-v5 g-font-weight-600 g-font-size-16"><em>Monday - Friday: 9:00 AM to 6:00 PM</em>
              </p>
            </div>
          </div>
        </div>
      </section>

<% include ../partials/footer %>